<section data-ng-if="hasAccount">
  <form data-ng-submit="signin(user)">
    <h2>Signin</h2>
    <input name="username" type="text" placeholder="username" data-ng-model="user.username" />
    <input name="password" type="password" placeholder="password" data-ng-model="user.password" />
    <input type="submit" value="Signin">
  </form>
  <h2>Dont have an account? click the button below to get started</h2>
  <input data-ng-click="hasAccount = false" type="button" value="Create account" />
</section>

<section data-ng-if="!hasAccount">
  <form data-ng-submit="signup(user)">
    <h2>signup</h2>
    <input name="username" type="text" placeholder="username" data-ng-model="user.username" />
    <input name="password" type="password" placeholder="password" data-ng-model="user.password" />
    <input type="submit" value="Signup">
  </form>
</section>
